<header>
  <h1>{{ page.title }}</h1>
</header>
<hr class="large" />
<div class="article-date">
  {% for tag in page.tags %}
    <a class="tag" href="/tags/#{{ tag }}">{{ tag }}</a>
  {% endfor %}
  &nbsp;&nbsp;{{ page.date | date_to_string }}
</div>

<div id="post">
  {{ content }}
</div>


<div id="page-navigation">
  <div class="clear">&nbsp;</div>
  <div class="left">
  {% if page.previous.url %}
      <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}" class="btn btn-small"><i class="icon-caret-left"></i> {{page.previous.title}}</a>
  {% endif %}
  </div>
  <div class="right">
  {% if page.next.url %}
          <a href="{{page.next.url}}" title="next Post: {{page.next.title}}" class="btn btn-small">{{page.next.title}} <i class="icon-caret-right"></i></a>
  {% endif %}
  </div>
  <div class="clear">&nbsp;</div>
</div>

<p style="text-align: right">
  <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
  <a href="https://twitter.com/crohr" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @crohr</a>
</p>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<div id="disqus_thread" style="margin-top: 3em"></div>
<script type="text/javascript">
    var disqus_shortname = 'crohr';
    var disqus_identifier = '{{ page.id }}';
    var disqus_url = '{{ site.url }}{{ page.url }}';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>

<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
