body {
  width: 100%;
}
.mp {
  margin: auto;
  width: 100%;
  font-family: "verdana";
  font-size: 12px;
}
.mp h1, .mp h2, .mp h3 {
  font-family: "Lucida Grande", "arial";
}
.mp h1 {
  border-bottom: 4px solid #333;
  line-height: 1.4em;
  font-size: 2em;
}
.man-head, .man-foot {
  display: none;
}
