body {
  width: 70%;
  margin: auto;
  font-family: "Verdana";
  font-size: 14px;
  position: relative;
  margin-bottom: 100px;
}
ul {
  margin: 0 0 0 30px;
  padding: 0 0 0 20px;
  border-left: 5px solid #ccc;
  list-style-type: none;
}
ul li {
  margin-bottom: 0.5em;
}
h1 {
  font-family: "Lucida Grande";
  font-size: 3em;
}
h2 {
  font-family: "Lucida Grande";
  font-weight: bold;
  font-size: 1.6em;
  margin-top: 1.8em;
}
h3 {
  font-family: "Lucida Grande";
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 1.4em;
  line-height: 1.3em;
}
p.period {
  font-style: italic;
  text-align: right;
}
p.technologies, p.keywords {
  color: #666;
  font-size: 0.8em;
}
#papers {
  text-align: justify;
}
#profile {
  position: absolute;
  right: 5px;
  top: 5px;
}
#profile img {
  border: 1px solid #ccc;
}
#profile a {
  color: green;
  text-decoration: none;
}
#experience {
  text-align: justify;
}
#experience ol {
  list-style-type: circle;
  padding-left: 25px;
}
#experience ol li {
}
#experience ul li div.header {
  background: #eee;
  font-weight: normal;
  padding: 5px 10px;
}
#experience span.title {
  font-weight: bold;
}
#experience span.period {
  font-size: 0.8em;
}
#experience span.position {
  display: block;
}
#experience div.footer {
  padding: 5px;
  font-size: 0.8em;
  color: #888;
}
#experience div.footer p {
  margin: 5px 0px;
}