---
layout: responsive
---
<div class="nine columns offset-by-one content">
  <h1>{{ page.title }}</h1>
  <div class="article-date">
    {% for tag in page.tags %}
      <a class="tag" href="/tags/#{{ tag }}">{{ tag }}</a>
    {% endfor %}
    &nbsp;&nbsp;{{ page.date | date_to_string }}
  </div>

  <div id="post">
    {% include post.html %}
  </div>
</div>

<div class="two columns offset-by-one">
	<h3>TOC</h3>
	<ul class="square">
		<li><strong>A Responsive Grid Down To Mobile</strong>: Elegant scaling from a browser to tablets to mobile.</li>
		<li><strong>Fast to Start</strong>: It's a tool for rapid development with best practices</li>
		<li><strong>Style Agnostic</strong>: It provides the most basic, beautiful styles, but is meant to be overwritten.</li>
	</ul>
</div>
