---
layout: responsive
---

<div class="container">
  {{ content }}
</div>

<footer>
  <div class="container">
    <div class="contact" id="contact">
      <div class="row">
         <div class="span6">
            <div class="form padd">
              <h2>Contact Me</h2>
              <hr />
              <form class="form-horizontal" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://crohr.wufoo.eu/forms/r7x3a7/#public">
                  <div class="control-group">
                    <label class="control-label" for="name">* Name</label>
                    <div class="controls">
                      <input id="Field15" name="Field15" type="text" class="input-medium" value="" maxlength="255" onkeyup="" required />
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="email">* Email</label>
                    <div class="controls">
                      <input id="Field2" name="Field2" type="email" spellcheck="false" class="input-large" value="" maxlength="255" required /> 
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="comment">* Message</label>
                    <div class="controls">
                      <textarea id="Field1" name="Field1" class="input-medium" spellcheck="true" rows="10" cols="50" onkeyup="" required  ></textarea>
                    </div>
                  </div>
                  <div class="hide">
                    <label for="comment">Do Not Fill This Out</label>
                    <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
                    <input type="hidden" id="idstamp" name="idstamp" value="Fn7x2q50jAaW5mBZAF9Gwvgc3BLBEyNwH0kAxJVe5Gk=" />
                  </div>
                  <div class="form-actions">
                    <button id="saveForm" name="saveForm" class="btn btn-success" type="submit" value="Submit">Submit</button>
                    <button type="reset" class="btn">Reset</button>
                  </div>
              </form>
            </div>
         </div>
         <div class="span6">
               <div class="gmap">
                 <iframe width="425" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.fr/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=71+Avenue+Aristide+Briand,+Rennes&amp;aq=0&amp;oq=71&amp;sll=48.113475,-1.675708&amp;sspn=0.142576,0.363579&amp;g=rennes,+france&amp;ie=UTF8&amp;hq=&amp;t=m&amp;ll=48.253941,-1.779785&amp;spn=1.828777,4.669189&amp;z=7&amp;output=embed"></iframe>
               </div>
               <hr />
               <div class="address">
                  <div class="row">
                     <div class="span3">
                        <address class="small">
                          <span class="bold company"><i class="icon-globe color"></i> Cyril Rohr EIRL</span><br>
                          71 avenue Aristide Briand<br>
                          35000 Rennes, France<br>
                        </address>
                     </div>
                     <div class="span3">
                        <address class="small">
                          <span class="bold company"><i class="icon-user color"></i> Cyril Rohr</span><br>
                          <i class="icon-envelope-alt color"></i> <a href="mailto:contact@crohr.me?subject=Hello">contact@crohr.me</a><br>
                          <i class="icon-phone color"></i> +33-6-51-74-39-39
                        </address>
                     </div>
                  </div>
               </div>
         </div>
      </div>
    </div>

  </div>
</footer>
